/*
 * BRANDING
 */
body {
	/* border: 3px solid red; */
}




/* 
 * CSS 
 * Branding reset - use the site's qaccent color to personalize some features

// this is all kinda like "re-braqding reset-.ish concept , nice "

 */
/* 
 * STYLE IMPLEMENTATIONS 
 *
 * 1 - (text) selection
 * 2 - caret (input) - chekc del historial css tricks...
 * 3 - marker (li) - copy form moss
 *
4 - SCROL BARS - VERT & HORIZONATL, AROUND TABLES !! CON LO DE L ACLASE DE TABLE WRAPPER , W_TABLE, ... .TABLE ...
 *
 * 5 - accent-color - for checkboxes etc
 *
 * 6 - hr
 * 7 - checkboxes & radio buttons
 * 8 - details / summary
 * 9 - dt, dl
 *
 */
/*
next thinsg to add:

hr - yes, nice, put it her en the branding partial, as its quite decorative .



.. & now also checjkboxes & radio button s??? 

& details / summary


& dt, dl... just sth, a reminder of sorts.... for htmleditror or just ordinary basic css stylings for the templates

*/






/* 
 * 1 - (TEXT) SELECTION 
 */
 ::-moz-selection {
	background-color: var(--c-accent); 
	color: var(--c-text-inv);
  }
  ::selection {
	background-color: var(--c-accent); 
	color: var(--c-text-inv);
  }


  /* 
   * 2 - CARET (input)  
   */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
  /* caret-color: $c_accent; */
  input, textarea {
	caret-color: var(--c-accent); /* does it apply only to the line ????? */
  }
  
  
  /* 
   * 3 - marker (li)
   */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::marker */
  /* ..... https://www.w3schools.com/tags/tag_summary.asp */  
  li::marker {
	color: var(--c-accent); /* TEST */
	/* font-size: 1.2em; // ?? para el size???? */
  }
  
  
  
  /*
   * 4 - CSS accent-color Property
   */
  /* accen tcolor for checkboxes etc !! justest it !!! in styldehgudie page !!! */
  /* https://www.w3schools.com/cssref/css4_pr_accent-color.php */
  
  input,
  progress {
	accent-color: var(--c-accent); /* nice, this is the color once activated, not before - and ni this site, cowow ctheer are 2 very darlk color wor box and content, so not reallyty visibel ... */
  }
  
  
  
  /* 
   * 5 - SCROLLBARS - VERT  & CHECK HORIZONATLM, AROUND TABLES !! CON LO DE L ACLASE DE TABLE WRAPPER , W_TABLE, ... .TABLE ...
   */
  ::-webkit-scrollbar { 
	width: 1em; /* Vertical scrollbar */
	height: 1em; /* Horiziontal scrollbar -  test with table RWD - OK, BUYT SOME MARGIN TOP WOULD BE NICE...  */
	background: var(--c-bg-inv);
  }
	::-webkit-scrollbar-track { /* THE BACKGROUND OF THE SCROLLBAR */
	  background: var(--c-accent-light);
	  border-radius: 100vw; /* THE TRICK */
	  margin-block: 0.5em; /* SHORTHAND FOR TOP & BOTTOM */
	}
	  ::-webkit-scrollbar-thumb { /* THE MOVABLE SECTION OF THE SCROLLBAR */
		background: var(--c-accent); 
		border: 0.25em solid var(--c-accent-dark);
		border-radius: 100vw;
	  }
		::-webkit-scrollbar-thumb:hover {
		  background: var(--c-accent-dark);
		  /*
		  background: var(--c-text);
		  background: var(--c-white);
		  */
		  background: white;
		}