/* body, */
/* #page {
    border: 12px solid orange; 
} 
*/




/* HTML5 reset-ish, but not really necesary as I'm using htmlshiv,js */
/* header, section, footer, aside, nav, main, article, figure {display: block;} */



/* 
 * 1 - HTML, BODY PADDING RESET 
 */ 


/*
 * CSS RESET
 */
/*
html, body,
div, span,
h1, h2, h3, h4, h5, h6, 
p, 
pre, code, */ /* smp, smp , sample ... */
/* img,
dl, dt, dd, 
ol, ul, li,
img {
	margin: 0;
	padding: 0; */
	/* border: 0; */
	/* outline: 0; */
	/* font-size:100%; */ /* for headings, works */
/* } */


/* 
 * 1 - REMOVE MARGIN AROUND THE PAGE 
 * OBS - BODY MARGIN 0 IS THE KEY 
 */
html, body {
	margin: 0; /* OBS - BODY MARGIN 0 IS THE KEY  */
	padding: 0;
} 




/* 
 * BOX MODEL 
 */
 * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	}	

	*, *:before, *:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box; 
	  }
	  
	  
/* 
 * 2 - BOX MODEL
 * Universal Box Sizing - https://css-tricks.com/box-sizing/ 
 */
 *, *:before, *:after {
    box-sizing: border-box;
  }





  ol, ul {
	/* */
	list-style:none;
	
	margin: 0;
	padding:0;
	
	
}


  img {
	max-width:100%; 
	height:auto; /* The height is added to ensure the aspect ratio of the image is retained. */

    display: block; /* This will remove the space below the image */
    width: 100%; /* This will make the image responsive */
	}


/* img {display:block;}  */
/* iframe {display: block;} */  

/* picture tag */ 





textarea {
	resize: none;
	/* TODO - ADD DYANMIC HEIGHT WHEN FILLED IN !!!! */
}
/*  
 * HTML Tags - media-related - add thigs to reste fie 
 */



